body {
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  font-family: 'Inconsolata';
}

.question-container {
  position: absolute;
  top: 25%;
  width: 100%;
}

.option {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 20px 15px;
  transition: all 0.45s ease;
}

.question {
  font-size: 28px;
}

.score {
  margin: 40px;
  font-size: 24px;
}

.option.scale {
  transform: scale(46);
}

.result {
  display: none;
  position: absolute;
  top: 40%;
  width: 100%;
}